
<%- include('partials/_header') -%>

<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">
			<%- include('partials/_navigation') -%>
			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-1">
				<div class="text-center">
					<p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 text-white mx-auto">Background image can be fixed. Content will simply slide over.</p>                	
				</div>                
            </div>

			<!-- Header image -->
            <div id="tm-fixed-header-bg"></div> 
		</div>

		<!-- Page content -->
		<div class="container-fluid">
			<div class="tm-content-container">
				<main>					
					<div class="col pt-4 pb-5">
						<div class="col-12">
							<h2 class="mb-5 tm-text-primary"><%= photo.title %></h2>
							<div class="row tm-catalog-item-list">
		                        <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
		                            <div class="position-relative tm-thumbnail-container">
		                                <img src="<%= photo.image %>" alt="Image" class="img-fluid tm-catalog-item-img">    		                                
		                            </div>    
		                            <div class="p-3 tm-catalog-item-description">
		                                <h3 class="tm-text-gray text-center tm-catalog-item-title"><%= photo.description %></h3>		                                
		                            </div>
		                        </div>		                      
		                    </div>
						</div>
					</div>
                    <div class="col-xl-4 col-lg-5">
                        <!-- Share box -->
                        <div class="tm-bg-gray tm-share-box">
                            <a href="/photos/edit/<%= photo._id %>">
                                <button class="btn btn-primary p-0 tm-btn-animate tm-btn-download tm-icon-download"><span>EDIT PHOTO</span></button>	
                            </a>
                            <a href="#" class="tm-bg-white px-5 mb-4 d-inline-block tm-text-primary tm-likes-box tm-liked">
                                <span id="tm-likes-count">DELETE PHOTO</span>
                            </a>			
                        </div>
                    </div>
				</main>

				<!-- Subscribe form and footer links -->               
                <footer class="row pt-5">
                    <div class="col-12">
                        <p class="text-right">Copyright 2020 The Video Catalog Company 
                        
                        - Designed by <a href="https://templatemo.com" rel="nofollow" target="_parent">TemplateMo</a></p>
                    </div>
                </footer>
			</div> <!-- .tm-content-container -->
		</div>
	</div>

	<script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  
</body>
</html>